<html>
  <head>
  </head>
  <body>
    <div class="container">
      <h1> Stupid Coaching</h1>
      <div class="you">
        <p><%=params[:question]%></p>
        <p>-You</p>
      </div>
      <div class="coach">
        <p><%=@answer%></p>
        <p>-Your coach</p>
      </div>
      <%= link_to "Ask a new question", "ask" %>
    </div>
  </body>
</html>